## Import libraries

In [1]:
import numpy as np   # import numpy
import pandas as pd  # import pandas
import os
import gc   # for gabage collection
import seaborn as sns  # data visualization lib
import matplotlib.pyplot as plt
import glob 
from scipy import stats
%matplotlib inline

<hr  style= "
  display: block; 
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 15px "/>

## Create a few algos for viz so that they can be called anytime

In [3]:
# some customized function for plotting data
def plot_corr(df,cols):
    fig = plt.figure(figsize=(10,8))
    sns.heatmap(df[cols].corr(),cmap='RdBu_r', annot=True, center=0.0)
    plt.show()
    
def plot_count(df,col,fsize,rotation=None,fillna=True):
    fig = plt.figure(figsize=fsize)
    if fillna:
        value_count = df[col].fillna('unknown').value_counts()
    sns.barplot(value_count.index,value_count.values)
    plt.xticks(rotation=rotation)
    plt.title('value counts for {}'.format(col))
    plt.show()

<hr  style= "
  display: block; 
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 15px "/>

## Load All Data

In [2]:
def load_data(path): 
    return glob.glob(path+"*.csv")

In [3]:
df_files = load_data('/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/')
df_files.sort()
df_files

['/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/POS_CASH_balance.csv',
 '/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/application_train.csv',
 '/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/bureau.csv',
 '/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/bureau_balance.csv',
 '/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/credit_card_balance.csv',
 '/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/installments_payments.csv',
 '/Users/mega/concordia_courses/1260_ML/home_credit_risk/data/previous_application.csv']

In [4]:
df_pos_cash = pd.read_csv(df_files[0])
df_app_train = pd.read_csv(df_files[1])
df_burr =pd.read_csv(df_files[2])
df_burr_bal = pd.read_csv(df_files[3])
df_cc_bal = pd.read_csv(df_files[4])
df_inst_pay =  pd.read_csv(df_files[5])
df_prev_app =pd.read_csv(df_files[6])
all_dfs = [df_pos_cash, df_app_train, df_burr, df_burr_bal, df_cc_bal, df_inst_pay, df_prev_app]

<hr  style= "
  display: block; 
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 15px "/>

### STATS

#### Data types

In [5]:
for df in all_dfs:
    for col in df:
        print(f'{col}: {df[col].dtype}')

SK_ID_PREV: int64
SK_ID_CURR: int64
MONTHS_BALANCE: int64
CNT_INSTALMENT: float64
CNT_INSTALMENT_FUTURE: float64
NAME_CONTRACT_STATUS: object
SK_DPD: int64
SK_DPD_DEF: int64
SK_ID_CURR: int64
TARGET: int64
NAME_CONTRACT_TYPE: object
CODE_GENDER: object
FLAG_OWN_CAR: object
FLAG_OWN_REALTY: object
CNT_CHILDREN: int64
AMT_INCOME_TOTAL: float64
AMT_CREDIT: float64
AMT_ANNUITY: float64
AMT_GOODS_PRICE: float64
NAME_TYPE_SUITE: object
NAME_INCOME_TYPE: object
NAME_EDUCATION_TYPE: object
NAME_FAMILY_STATUS: object
NAME_HOUSING_TYPE: object
REGION_POPULATION_RELATIVE: float64
DAYS_BIRTH: int64
DAYS_EMPLOYED: int64
DAYS_REGISTRATION: float64
DAYS_ID_PUBLISH: int64
OWN_CAR_AGE: float64
FLAG_MOBIL: int64
FLAG_EMP_PHONE: int64
FLAG_WORK_PHONE: int64
FLAG_CONT_MOBILE: int64
FLAG_PHONE: int64
FLAG_EMAIL: int64
OCCUPATION_TYPE: object
CNT_FAM_MEMBERS: float64
REGION_RATING_CLIENT: int64
REGION_RATING_CLIENT_W_CITY: int64
WEEKDAY_APPR_PROCESS_START: object
HOUR_APPR_PROCESS_START: int64
REG_REGION_NOT_LIVE_REGION: int64
REG_REGION_NOT_WORK_REGION: int64
LIVE_REGION_NOT_WORK_REGION: int64
REG_CITY_NOT_LIVE_CITY: int64
REG_CITY_NOT_WORK_CITY: int64
LIVE_CITY_NOT_WORK_CITY: int64
ORGANIZATION_TYPE: object
EXT_SOURCE_1: float64
EXT_SOURCE_2: float64
EXT_SOURCE_3: float64
APARTMENTS_AVG: float64
BASEMENTAREA_AVG: float64
YEARS_BEGINEXPLUATATION_AVG: float64
YEARS_BUILD_AVG: float64
COMMONAREA_AVG: float64
ELEVATORS_AVG: float64
ENTRANCES_AVG: float64
FLOORSMAX_AVG: float64
FLOORSMIN_AVG: float64
LANDAREA_AVG: float64
LIVINGAPARTMENTS_AVG: float64
LIVINGAREA_AVG: float64
NONLIVINGAPARTMENTS_AVG: float64
NONLIVINGAREA_AVG: float64
APARTMENTS_MODE: float64
BASEMENTAREA_MODE: float64
YEARS_BEGINEXPLUATATION_MODE: float64
YEARS_BUILD_MODE: float64
COMMONAREA_MODE: float64
ELEVATORS_MODE: float64
ENTRANCES_MODE: float64
FLOORSMAX_MODE: float64
FLOORSMIN_MODE: float64
LANDAREA_MODE: float64
LIVINGAPARTMENTS_MODE: float64
LIVINGAREA_MODE: float64
NONLIVINGAPARTMENTS_MODE: float64
NONLIVINGAREA_MODE: float64
APARTMENTS_MEDI: float64
BASEMENTAREA_MEDI: float64
YEARS_BEGINEXPLUATATION_MEDI: float64
YEARS_BUILD_MEDI: float64
COMMONAREA_MEDI: float64
ELEVATORS_MEDI: float64
ENTRANCES_MEDI: float64
FLOORSMAX_MEDI: float64
FLOORSMIN_MEDI: float64
LANDAREA_MEDI: float64
LIVINGAPARTMENTS_MEDI: float64
LIVINGAREA_MEDI: float64
NONLIVINGAPARTMENTS_MEDI: float64
NONLIVINGAREA_MEDI: float64
FONDKAPREMONT_MODE: object
HOUSETYPE_MODE: object
TOTALAREA_MODE: float64
WALLSMATERIAL_MODE: object
EMERGENCYSTATE_MODE: object
OBS_30_CNT_SOCIAL_CIRCLE: float64
DEF_30_CNT_SOCIAL_CIRCLE: float64
OBS_60_CNT_SOCIAL_CIRCLE: float64
DEF_60_CNT_SOCIAL_CIRCLE: float64
DAYS_LAST_PHONE_CHANGE: float64
FLAG_DOCUMENT_2: int64
FLAG_DOCUMENT_3: int64
FLAG_DOCUMENT_4: int64
FLAG_DOCUMENT_5: int64
FLAG_DOCUMENT_6: int64
FLAG_DOCUMENT_7: int64
FLAG_DOCUMENT_8: int64
FLAG_DOCUMENT_9: int64
FLAG_DOCUMENT_10: int64
FLAG_DOCUMENT_11: int64
FLAG_DOCUMENT_12: int64
FLAG_DOCUMENT_13: int64
FLAG_DOCUMENT_14: int64
FLAG_DOCUMENT_15: int64
FLAG_DOCUMENT_16: int64
FLAG_DOCUMENT_17: int64
FLAG_DOCUMENT_18: int64
FLAG_DOCUMENT_19: int64
FLAG_DOCUMENT_20: int64
FLAG_DOCUMENT_21: int64
AMT_REQ_CREDIT_BUREAU_HOUR: float64
AMT_REQ_CREDIT_BUREAU_DAY: float64
AMT_REQ_CREDIT_BUREAU_WEEK: float64
AMT_REQ_CREDIT_BUREAU_MON: float64
AMT_REQ_CREDIT_BUREAU_QRT: float64
AMT_REQ_CREDIT_BUREAU_YEAR: float64
SK_ID_CURR: int64
SK_ID_BUREAU: int64
CREDIT_ACTIVE: object
CREDIT_CURRENCY: object
DAYS_CREDIT: int64
CREDIT_DAY_OVERDUE: int64
DAYS_CREDIT_ENDDATE: float64
DAYS_ENDDATE_FACT: float64
AMT_CREDIT_MAX_OVERDUE: float64
CNT_CREDIT_PROLONG: int64
AMT_CREDIT_SUM: float64
AMT_CREDIT_SUM_DEBT: float64
AMT_CREDIT_SUM_LIMIT: float64
AMT_CREDIT_SUM_OVERDUE: float64
CREDIT_TYPE: object
DAYS_CREDIT_UPDATE: int64
AMT_ANNUITY: float64
SK_ID_BUREAU: int64
MONTHS_BALANCE: int64
STATUS: object
SK_ID_PREV: int64
SK_ID_CURR: int64
MONTHS_BALANCE: int64
AMT_BALANCE: float64
AMT_CREDIT_LIMIT_ACTUAL: int64
AMT_DRAWINGS_ATM_CURRENT: float64
AMT_DRAWINGS_CURRENT: float64
AMT_DRAWINGS_OTHER_CURRENT: float64
AMT_DRAWINGS_POS_CURRENT: float64
AMT_INST_MIN_REGULARITY: float64
AMT_PAYMENT_CURRENT: float64
AMT_PAYMENT_TOTAL_CURRENT: float64
AMT_RECEIVABLE_PRINCIPAL: float64
AMT_RECIVABLE: float64
AMT_TOTAL_RECEIVABLE: float64
CNT_DRAWINGS_ATM_CURRENT: float64
CNT_DRAWINGS_CURRENT: int64
CNT_DRAWINGS_OTHER_CURRENT: float64
CNT_DRAWINGS_POS_CURRENT: float64
CNT_INSTALMENT_MATURE_CUM: float64
NAME_CONTRACT_STATUS: object
SK_DPD: int64
SK_DPD_DEF: int64
SK_ID_PREV: int64
SK_ID_CURR: int64
NUM_INSTALMENT_VERSION: float64
NUM_INSTALMENT_NUMBER: int64
DAYS_INSTALMENT: float64
DAYS_ENTRY_PAYMENT: float64
AMT_INSTALMENT: float64
AMT_PAYMENT: float64
SK_ID_PREV: int64
SK_ID_CURR: int64
NAME_CONTRACT_TYPE: object
AMT_ANNUITY: float64
AMT_APPLICATION: float64
AMT_CREDIT: float64
AMT_DOWN_PAYMENT: float64
AMT_GOODS_PRICE: float64
WEEKDAY_APPR_PROCESS_START: object
HOUR_APPR_PROCESS_START: int64
FLAG_LAST_APPL_PER_CONTRACT: object
NFLAG_LAST_APPL_IN_DAY: int64
RATE_DOWN_PAYMENT: float64
RATE_INTEREST_PRIMARY: float64
RATE_INTEREST_PRIVILEGED: float64
NAME_CASH_LOAN_PURPOSE: object
NAME_CONTRACT_STATUS: object
DAYS_DECISION: int64
NAME_PAYMENT_TYPE: object
CODE_REJECT_REASON: object
NAME_TYPE_SUITE: object
NAME_CLIENT_TYPE: object
NAME_GOODS_CATEGORY: object
NAME_PORTFOLIO: object
NAME_PRODUCT_TYPE: object
CHANNEL_TYPE: object
SELLERPLACE_AREA: int64
NAME_SELLER_INDUSTRY: object
CNT_PAYMENT: float64
NAME_YIELD_GROUP: object
PRODUCT_COMBINATION: object
DAYS_FIRST_DRAWING: float64
DAYS_FIRST_DUE: float64
DAYS_LAST_DUE_1ST_VERSION: float64
DAYS_LAST_DUE: float64
DAYS_TERMINATION: float64
NFLAG_INSURED_ON_APPROVAL: float64

In [18]:
def stats(df):
    df_test_num = df.select_dtypes(include=['floating', 'integer'])
    column_names = df.columns
    unique_values = [df_test_num[each_col].nunique() for each_col in df_test_num.columns]
    data_types = [df_test_num[each_col].dtype for each_col in df_test_num.columns]
    mean =  [df_test_num[each_col].mean() for each_col in df_test_num.columns]
    median = [df_test_num[each_col].median() for each_col in df_test_num.columns]
    min_val = [df_test_num[each_col].min() for each_col in df_test_num.columns]
    max_val = [df_test_num[each_col].max() for each_col in df_test_num.columns]  
    std = [df_test_num[each_col].std() for each_col in df_test_num.columns]
    #columns = ['Column Name', 'Unique Values', 'Data Type', 'Mean', 'Median', 'Min', 'Max', 'Std']
    data_num = {'Column Name': column_names, 'Unique Values':unique_values, 'Data Type':data_types, 'Mean':mean, 'Median':median, 'Min':min_val, 'Max':max_val, 'Std':std}
    df_stats = pd.DataFrame(data=data_num)
    return df_stats.style

In [11]:
df_test_obj = df_test.select_dtypes(include='object')
column_names = df_test_obj.columns
unique_values = [df_test_obj[each_col].nunique() for each_col in df_test_obj.columns]
columns = ['Column Name', 'Unique Values']
data_obj = {'Column Name': column_names, 'Unique Values':unique_values}
df_test_obj_info = pd.DataFrame(data=data_obj)
df_test_obj_info

           Column Name  Unique Values
0      NAME_TYPE_SUITE              7
1      OCCUPATION_TYPE             18
2   FONDKAPREMONT_MODE              4
3       HOUSETYPE_MODE              3
4   WALLSMATERIAL_MODE              7
5  EMERGENCYSTATE_MODE              2

<hr  style= "
  display: block; 
  margin-top: 0.5em; 
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 15px "/>

## Clean dataframe --> identify data type --> force data size --> fill missing values

#### WORKING CODE: 
1) all column for data types WORKING <br>
2) all missing values filled WORKING <br>
3) all categorical columns encoded WORKING <br>
4) all columns accounted WORKING <br>

In [28]:

def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.
    """
    start_mem = df.memory_usage().sum() / 1024 ** 2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

    for col in df.columns:
        col_type = df[col].dtype

        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
# identify if column is categorical based on number of unique values (5%)
        elif df[col].nunique()/len(df[col]) <= 0.05:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024 ** 2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return df

def clean(df):
    col_int_cont=set()
    col_int_bin =set()
    col_obj=set()
    col_flt=set()
    col_obj_cat_enc=set()
    
    for col in df.columns:
        col_type = str(df[col].dtype)
# if column is OBJECT TYPE:
    if 'object' in col_type:
# Fill missing values
        df[col].fillna('unknown', inplace=True)             
        col_obj.add(col)       
    elif 'float' in col_type:
        df[col].fillna(df[col].mean(), inplace=True)
        col_flt.add(col)
    elif 'int' in col_type:
# check for binary classification for missing values to -1, and force int8
# if the missing values in a column are binary in nature (0 or 1), we do not want median, we want -1        
        if df[col].min() == 0 and df[col].max() == 1 and df[col].nunique == 2:
            df[col].fillna(-1, inplace=True)
             # Count columns: none as no integer columns in df_test
            col_int_bin.add(each_col) 
#Else if not binary@int8 then force int16, int32 or int64 and fill missing values with median
        else:
            df[col].fillna(df[col].median(), inplace=True)
# Count columns: none as no integer columns in df_test
            col_int_cont.add(each_col)
    print(f'Dataframe: {df} cleaned.')
    return df

# encode categorical column
# Working but returning column doesnt make it overwrite original df for some reason, so I used global
# but would have to figure how to use this to overwrite original df. df = df_enc.copy() also does not work
def encode(df):
    df_temp = pd.get_dummies(df.select_dtypes(include='category'))
    global df_enc
    df_enc = pd.concat([df,df_temp], axis= 1)        
    return df_enc
# Verify is not completely working as Im pretty sure my calculations of columns is off.
def verify_mv(df):
    obj_cols = len(df.select_dtypes(include='object').columns)
    num_cols = len(df.select_dtypes(include='number').columns)
    cat_cols = len(df.select_dtypes(include='category').columns)
    total_cols = len(df.columns)
    if df.isnull().sum().sum() == 0 and obj_cols + num_cols + cat_cols == total_cols:
        print( 'All missing columns seperated by data types filled and accounted for!')
        print( f'Columns stats: Total columns: {total_cols}, object columns {obj_cols} number columns:{num_cols}, categorical columns:{cat_cols} ')
    else:
        print("There were errors in processing")

#### Reduce memory usage works

In [7]:
 reduce_mem_usage(df_app_train)

Memory usage of dataframe is 286.23 MB
Memory usage after optimization is: 59.54 MB
Decreased by 79.2%

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

#### Encoding works but having issues returning the encoded df and overwriting the original

In [13]:
encode(df_app_train)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0,0,1,0,1,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,1,0,0,0,0,0,0,1,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,0,0,1,0,1,0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,0,0,1,0,1,0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,0,1,0,0,1,0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0,0,1,0,1,0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0,1,0,0,1,0

#### Verifying df after forcing dtype, encoding, cleaning Its not working have to look at column count.

In [10]:
verify_mv(df_app_train)

There were errors in processing

##### Original df_app_train is not being overwrtten with encoded

In [26]:
len(df_app_train.columns), len(df_enc.columns)

(122, 262)


### Garbage collect all unused df:

In [27]:
#We will keep the dfs we use [df_app_train, df_app_train_cleaned] and dump all rest df_app_train_missing
all_df_in_mem = %who_ls DataFrame 
print(all_df_in_mem)

['df', 'df_app_train', 'df_app_tran', 'df_burr', 'df_burr_bal', 'df_cc_bal', 'df_enc', 'df_inst_pay', 'df_pos_cash', 'df_prev_app']

#### We will keep only dfs we need

In [24]:
#del [of df to dump]

73